In [1]:
# import library
from pyspark import SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# import spark
spark = SparkSession.builder \
    .appName('pyspark-run-with-gcp-bucket') \
    .config("spark.jars", "https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop3-latest.jar") \
    .config("spark.sql.repl.eagerEval.enabled", True) \
    .getOrCreate()

# Set GCS credentials
spark._jsc.hadoopConfiguration().set("google.cloud.auth.service.account.json.keyfile", "/home/jovyan/work/my-project-04-421705-6cc3b65adceb.json")

# Define GCS bucket and file path
bucket_name = "example_123654"
file_name = "store.csv"
file_path = f"gs://{bucket_name}/{file_name}"

In [2]:
# Read CSV file from GCS into DataFrame
df = spark.read.csv(file_path, header=True, inferSchema=True)

In [3]:
# Define new column after ETL 
split_column = "Ship Mode"
split_by = " "
new_columns = ["class_name", "class"]

# ETL process: Split the Ship Mode column into ship_name and class_name
split_columns = [
    split(df[split_column], split_by, len(new_columns)).getItem(i).alias(new_columns[i])
    for i in range(len(new_columns))
]

df = df.select("*",*split_columns)

In [4]:
# rename columns
df = df.withColumnRenamed("Row ID","index") \
    .withColumnRenamed("Order ID","order_id") \
    .withColumnRenamed("Customer ID","customer_id") \
    .withColumnRenamed("Customer Name","customer_name") \
    .withColumnRenamed("Segment","segment") \
    .withColumnRenamed("Country","country") \
    .withColumnRenamed("City","city") \
    .withColumnRenamed("State","state") \
    .withColumnRenamed("Postal Code","postal_code") \
    .withColumnRenamed("Region","region") \
    .withColumnRenamed("Product ID","product_id") \
    .withColumnRenamed("Product Name","product_name") \
    .withColumnRenamed("Category","category") \
    .withColumnRenamed("Sub-Category","sub_category") \
    .withColumnRenamed("Sales","sales") \
    .withColumnRenamed("Quantity","quantity") \
    .withColumnRenamed("Discount","discount") \
    .withColumnRenamed("Profit","profit") 

# Coalesce the DataFrame to a single partition
df = df.coalesce(1)

# show result
df.show()

+-----+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+----------+-----+
|index|      order_id|Order Date| Ship Date|     Ship Mode|customer_id|     customer_name|    segment|      country|           city|         state|postal_code| region|     product_id|       category|sub_category|        product_name|   sales|quantity|discount|  profit|class_name|class|
+-----+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+----------+-----+
|    1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|    Second|Class|
|    2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|    Second|Class|
|    3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|    Second|Class|
|    4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|  Standard|Class|
|    5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|  Standard|Class|
|    6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|  Standard|Class|
|    7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|  Standard|Class|
|    8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|  Standard|Class|
|    9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|  Standard|Class|
|   10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|  Standard|Class|
|   11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|  Standard|Class|
|   12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|  Standard|Class|
|   13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|  Standard|Class|
|   14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|  Standard|Class|
|   15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|  Standard|Class|
|   16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|  Standard|Class|
|   17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|  Standard|Class|
|   18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|    Second|Class|
|   19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|    Second|Class|
|   20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|    Second|Class|
+-----+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+----------+-----+
only showing top 20 rows

In [5]:
# Transform date format from dd-mm-yyyy to be yyyy-mm-dd following ISO format
# We will do 2 columns are order_date and ship_date

# order_date column
split_column2 = "Order Date"
split_by2 = "/"

split_col = split(df[split_column2], split_by2)
df = df.withColumn('day', split_col.getItem(0))
df = df.withColumn('mon', split_col.getItem(1))
df = df.withColumn('yr', split_col.getItem(2))

# Create a new column with the "yyyy-MM-dd" format
df = df.withColumn("order_date", concat(col("yr"), lit("-"), col("mon"), lit("-"), col("day")))

# order_date column
split_column2 = "Ship Date"
split_by2 = "/"

split_col = split(df[split_column2], split_by2)
df = df.withColumn('day', split_col.getItem(0))
df = df.withColumn('mon', split_col.getItem(1))
df = df.withColumn('yr', split_col.getItem(2))

# Create a new column with the "yyyy-MM-dd" format
df = df.withColumn("ship_date", concat(col("yr"), lit("-"), col("mon"), lit("-"), col("day")))

df.show()

+-----+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+----------+-----+---+---+----+----------+----------+
|index|      order_id|Order Date| Ship Date|     Ship Mode|customer_id|     customer_name|    segment|      country|           city|         state|postal_code| region|     product_id|       category|sub_category|        product_name|   sales|quantity|discount|  profit|class_name|class|day|mon|  yr|order_date| ship_date|
+-----+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+----------+-----+---+---+----+----------+----------+
|    1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|    Second|Class| 11| 11|2016| 2016-8-11|2016-11-11|
|    2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|    Second|Class| 11| 11|2016| 2016-8-11|2016-11-11|
|    3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|    Second|Class|  6| 16|2016| 2016-12-6| 2016-16-6|
|    4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|  Standard|Class| 10| 18|2015|2015-11-10|2015-18-10|
|    5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|  Standard|Class| 10| 18|2015|2015-11-10|2015-18-10|
|    6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|    7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|    8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|    9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|   10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|   11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|   12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|  Standard|Class|  6| 14|2014|  2014-9-6| 2014-14-6|
|   13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|  Standard|Class|  4| 20|2017| 2017-15-4| 2017-20-4|
|   14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|  Standard|Class| 12| 10|2016| 2016-5-12|2016-10-12|
|   15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|  Standard|Class| 11| 26|2015|2015-22-11|2015-26-11|
|   16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|  Standard|Class| 11| 26|2015|2015-22-11|2015-26-11|
|   17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|  Standard|Class| 11| 18|2014|2014-11-11|2014-18-11|
|   18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|    Second|Class|  5| 15|2014| 2014-13-5| 2014-15-5|
|   19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|    Second|Class|  9|  1|2014| 2014-27-8|  2014-1-9|
|   20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|    Second|Class|  9|  1|2014| 2014-27-8|  2014-1-9|
+-----+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+----------+-----+---+---+----+----------+----------+
only showing top 20 rows

In [6]:
# Select data from df
order_trans = df.select("*")

# Coalesce the DataFrame to a single partition
order_trans = order_trans.coalesce(1)

# Filter columns
order_trans = order_trans.select("index", "order_id", "order_date", "ship_date", "class_name", "customer_id", "product_id", \
                "sales", "quantity", "discount", "profit")

# Coalesce the DataFrame to a single partition
order_trans = order_trans.coalesce(1)

# Show the result
order_trans.show()

+-----+--------------+----------+----------+----------+-----------+---------------+--------+--------+--------+--------+
|index|      order_id|order_date| ship_date|class_name|customer_id|     product_id|   sales|quantity|discount|  profit|
+-----+--------------+----------+----------+----------+-----------+---------------+--------+--------+--------+--------+
|    1|CA-2016-152156| 2016-8-11|2016-11-11|    Second|   CG-12520|FUR-BO-10001798|  261.96|       2|       0| 41.9136|
|    2|CA-2016-152156| 2016-8-11|2016-11-11|    Second|   CG-12520|FUR-CH-10000454|  731.94|       3|       0| 219.582|
|    3|CA-2016-138688| 2016-12-6| 2016-16-6|    Second|   DV-13045|OFF-LA-10000240|   14.62|       2|       0|  6.8714|
|    4|US-2015-108966|2015-11-10|2015-18-10|  Standard|   SO-20335|FUR-TA-10000577|957.5775|       5|    0.45|-383.031|
|    5|US-2015-108966|2015-11-10|2015-18-10|  Standard|   SO-20335|OFF-ST-10000760|  22.368|       2|     0.2|  2.5164|
|    6|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|FUR-FU-10001487|   48.86|       7|       0| 14.1694|
|    7|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|OFF-AR-10002833|    7.28|       4|       0|  1.9656|
|    8|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|TEC-PH-10002275| 907.152|       6|     0.2| 90.7152|
|    9|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|OFF-BI-10003910|  18.504|       3|     0.2|  5.7825|
|   10|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|OFF-AP-10002892|   114.9|       5|       0|   34.47|
|   11|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|FUR-TA-10001539|1706.184|       9|     0.2| 85.3092|
|   12|CA-2014-115812|  2014-9-6| 2014-14-6|  Standard|   BH-11710|TEC-PH-10002033| 911.424|       4|     0.2| 68.3568|
|   13|CA-2017-114412| 2017-15-4| 2017-20-4|  Standard|   AA-10480|OFF-PA-10002365|  15.552|       3|     0.2|  5.4432|
|   14|CA-2016-161389| 2016-5-12|2016-10-12|  Standard|   IM-15070|OFF-BI-10003656| 407.976|       3|     0.2|132.5922|
|   15|US-2015-118983|2015-22-11|2015-26-11|  Standard|   HP-14815|OFF-AP-10002311|   68.81|       5|     0.8|-123.858|
|   16|US-2015-118983|2015-22-11|2015-26-11|  Standard|   HP-14815|OFF-BI-10000756|   2.544|       3|     0.8|  -3.816|
|   17|CA-2014-105893|2014-11-11|2014-18-11|  Standard|   PK-19075|OFF-ST-10004186|  665.88|       6|       0| 13.3176|
|   18|CA-2014-167164| 2014-13-5| 2014-15-5|    Second|   AG-10270|OFF-ST-10000107|    55.5|       2|       0|    9.99|
|   19|CA-2014-143336| 2014-27-8|  2014-1-9|    Second|   ZD-21925|OFF-AR-10003056|    8.56|       2|       0|  2.4824|
|   20|CA-2014-143336| 2014-27-8|  2014-1-9|    Second|   ZD-21925|TEC-PH-10001949|  213.48|       3|     0.2|  16.011|
+-----+--------------+----------+----------+----------+-----------+---------------+--------+--------+--------+--------+
only showing top 20 rows

In [7]:
# Select data from df
cust_data = df.select("*")

# Coalesce the DataFrame to a single partition
cust_data = cust_data.coalesce(1)

# Filter columns
cust_data = cust_data.select("customer_id", "customer_name", "segment", \
                "country", "city", "state", "postal_code", "region")

# Select distinct row values
cust_data = cust_data.distinct()

# Coalesce the DataFrame to a single partition
cust_data = cust_data.coalesce(1)

# Show the result
cust_data.show()

+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+
|customer_id|     customer_name|    segment|      country|           city|         state|postal_code| region|
+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+
|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|
|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|
|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|
|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|
|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|
|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|
|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|
|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|
|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|
|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|
|   KB-16585|         Ken Black|  Corporate|United States|        Fremont|      Nebraska|      68025|Central|
|   SF-20065|   Sandra Flanagan|   Consumer|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   EB-13870|       Emily Burns|   Consumer|United States|           Orem|          Utah|      84057|   West|
|   EH-13945|     Eric Hoffmann|   Consumer|United States|    Los Angeles|    California|      90049|   West|
|   TB-21520|   Tracy Blumstein|   Consumer|United States|   Philadelphia|  Pennsylvania|      19140|   East|
|   MA-17560|      Matt Abelman|Home Office|United States|        Houston|         Texas|      77095|Central|
|   GH-14485|         Gene Hale|  Corporate|United States|     Richardson|         Texas|      75080|Central|
|   SN-20710|      Steve Nguyen|Home Office|United States|        Houston|         Texas|      77041|Central|
|   LC-16930|    Linda Cazamias|  Corporate|United States|     Naperville|      Illinois|      60540|Central|
|   RA-19885|      Ruben Ausman|  Corporate|United States|    Los Angeles|    California|      90049|   West|
+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+
only showing top 20 rows

In [8]:
df.createOrReplaceTempView("df")
cust_data.createOrReplaceTempView("c")

c1 = spark.sql("""
    select
        count(customer_id) as count_all
        
    from
        df
""")

c2 = spark.sql("""
    select distinct
        count(customer_id)  as count_distinct
        
    from
       c
""")


c1.show()
c2.show()

+---------+
|count_all|
+---------+
|     9994|
+---------+

+--------------+
|count_distinct|
+--------------+
|          4910|
+--------------+

In [9]:
# Select data from df
product_data = df.select("*")

# Coalesce the DataFrame to a single partition
product_data = product_data.coalesce(1)

# Filter columns
product_data = product_data.select("product_id", "product_name", "category", "sub_category")

# Select distinct row values
product_data = product_data.distinct()

# Coalesce the DataFrame to a single partition
product_data = product_data.coalesce(1)

# Show the result
product_data.show()

+---------------+--------------------+---------------+------------+
|     product_id|        product_name|       category|sub_category|
+---------------+--------------------+---------------+------------+
|FUR-BO-10001798|Bush Somerset Col...|      Furniture|   Bookcases|
|FUR-CH-10000454|Hon Deluxe Fabric...|      Furniture|      Chairs|
|OFF-LA-10000240|Self-Adhesive Add...|Office Supplies|      Labels|
|FUR-TA-10000577|Bretford CR4500 S...|      Furniture|      Tables|
|OFF-ST-10000760|Eldon Fold 'N Rol...|Office Supplies|     Storage|
|FUR-FU-10001487|Eldon Expressions...|      Furniture| Furnishings|
|OFF-AR-10002833|          Newell 322|Office Supplies|         Art|
|TEC-PH-10002275|Mitel 5320 IP Pho...|     Technology|      Phones|
|OFF-BI-10003910|DXL Angle-View Bi...|Office Supplies|     Binders|
|OFF-AP-10002892|Belkin F5C206VTEL...|Office Supplies|  Appliances|
|FUR-TA-10001539|Chromcraft Rectan...|      Furniture|      Tables|
|TEC-PH-10002033|Konftel 250 Confe...|     Technology|      Phones|
|OFF-PA-10002365|          Xerox 1967|Office Supplies|       Paper|
|OFF-BI-10003656|Fellowes PB200 Pl...|Office Supplies|     Binders|
|OFF-AP-10002311|Holmes Replacemen...|Office Supplies|  Appliances|
|OFF-BI-10000756|Storex DuraTech R...|Office Supplies|     Binders|
|OFF-ST-10004186|"Stur-D-Stor Shel...|Office Supplies|     Storage|
|OFF-ST-10000107|Fellowes Super St...|Office Supplies|     Storage|
|OFF-AR-10003056|          Newell 341|Office Supplies|         Art|
|TEC-PH-10001949|Cisco SPA 501G IP...|     Technology|      Phones|
+---------------+--------------------+---------------+------------+
only showing top 20 rows

In [10]:
df.createOrReplaceTempView("df")
product_data.createOrReplaceTempView("p")

p1 = spark.sql("""
    select distinct
        count(product_id) as count_all
        
    from
        df
""")

p2 = spark.sql("""
    select distinct
        count(product_id)  as count_distinct
        
    from
       p
""")


p1.show()
p2.show()

+---------+
|count_all|
+---------+
|     9994|
+---------+

+--------------+
|count_distinct|
+--------------+
|          1894|
+--------------+

In [13]:
# Write the DataFrame to a single CSV file in GCS
order_trans.write.csv(f"gs://{bucket_name}/cleaned_zone/transaction_data", header=True)
cust_data.write.csv(f"gs://{bucket_name}/cleaned_zone/customer_data", header=True)
product_data.write.csv(f"gs://{bucket_name}/cleaned_zone/product_data", header=True)

In [12]:
# Stop SparkSession
spark.stop()